---
import type { MarkdownHeading } from "astro";

interface Props {
  title: string;
  video?: string;
  headings: MarkdownHeading[];
}

const { title, video, headings } = Astro.props;
---

<main>
    <h1
      class="text-2xl md:text-4xl text-[#F3DFA2] font-bold my-4 md:my-8 text-center"
      transition:name={title}
    >
      {title}
    </h1>

    <div class="p-8 shadow rounded-lg bg-[#212F45] mb-8">
      <h2 class="text-xl md:text-2xl font-semibold mb-4">Topics</h2>
      <ul class="list-inside list-disc">
        {
          headings.map((heading) => (
            <li style={`margin-left: ${heading.depth - 1}rem;`}>
              <a href={`#${heading.slug}`}>
                <span class="hover:underline text-sm md:text-base">{heading.text}</span>
                </a>
              </li>
          ))
        }
      </ul>
    </div>

    <div class="text-center">
      <iframe
        class="w-full aspect-video mb-3 bg-[#F3DFA2]/50"
        src={video}
        title="YouTube video player"
        allowfullscreen></iframe>
      <span
        >Video by <a
          href="https://www.youtube.com/@ToKiniAndy"
          class="hover:text-[#F3DFA2]">Tokini Andy</a
        ></span
      >
    </div>
    <article
      class="text-gray-200 mx-auto prose prose-sm md:prose-base prose-th:text-gray-200 prose-th:font-bold prose-h1:text-2xl prose-h1:md:text-3xl prose-h1:text-[#F3DFA2] prose-h1:pt-12 prose-h1:mb-4
          prose-h2:text-gray-200 prose-blockquote:text-gray-200 prose-strong:text-yellow-500
          prose-blockquote:bg-[#989FCE]/30
        max-w-none"
    >
      <slot />
    </article>
</main>